<div class="wait" *ngIf="loading">Wait a second</div>



<div *ngIf="!loading">
  <div class="not-found" *ngIf="filterArrayPost.length == 0 && !loading">
    No Todo found
    </div>
<ul>
  <li *ngFor="let todo of filterArrayPost">{{todo.title}}</li>
  <button class="check-button" (click)="update(Itodo)">✓</button>
</ul>

<div class="todo-container">
<p>Create new ToDo</p>
<input (ngModel)="Itodo.title" class="input" type="text" placeholder="New ToDo">
<button class="button"  (click)="addItodo()">+ Add</button>
</div>
</div>
