/* IMPOSTAZIONI GENERALI */
#main-image {
    background-attachment: fixed;
    background-image: url(../img/sfondo.png);

}

/* HEADER */
#main-header {
    background-color: rgba(0,136,164,255);
    margin: 20px;
    padding: 40px;
    background: linear-gradient(356deg, rgb(7 88 104), #15c5e9);
    box-shadow: 0px 10px 15px 0px #000;
    font-family: 'Poppins', sans-serif;
    
}

.container {
    text-align: center;

}

.main-title {
    
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
}

.nav-list {
    
    list-style: none;
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
}

.li-nav {
    margin-bottom: 10px;
}
/* MAIN */

#main-back {
    background-color: white;
    margin: 20px;
    padding: 40px;
    box-shadow: 0px 10px 15px 0px #000;
    font-family: Poppins; 
}

.title-due {
   font-size: 2rem; 
   font-weight: bold;
   line-height: 1.5em;
   margin-bottom: 15px;
   text-align: initial;
}

.sub-t {
    color: rgba(164,158,165,255);
    text-align: initial;
}

.testo {
    margin-top: 20px;
    text-align: initial;
    margin-bottom: 20px;
    
}

.testo b {
    color: rgba(166,38,112,255);
    font-weight: bold;

}

.paragrafo {
    margin-bottom: 15px;
    text-align: initial;
}

.list-two {
    text-align: initial;
}

.list-two b {
    background-color: rgba(212,212,213,255);
    line-height: 2em;
    border-radius: 5px;
    border: .5px solid grey;
}

.testo-two {
    text-align: initial;
    margin-top: 20px;
   
}

.testo-two b {
    color:rgba(166,38,112,255);
    font-weight: bold;
}

.list-three {
    margin-top: 20px;
    line-height: 1,5em;
    padding: 2px;

}

.testo-three {
    margin-top: 20px;
    text-align: initial;
}


/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

.table {
    width: 100%;
}

.caption {
    font-weight: bold;
    font-size: 1em;
    font-style: italic;
    margin-top: 20px;
}

.table-head {
    background-color: rgba(52,104,211,255);
    line-height: 1.5em;
    color: white
    
}

.table-body {
    line-height: 2em;
}


/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
