#main-header {
    text-align: center;

}
.secondari {
    margin: 0 auto;
    width: 850px;
}

#logo-area img{
    width: 180px;
}

.principale {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 900px;
}

.rounded-corner {
    border-radius: 10PX;
}

ul li {
    margin: 10px;
}

.hr-header {
    margin: 0;
    border-top-width: 0px;
    border-color: orange;
}
.titolo {
    color: rgba(0,77,76,255);
    background-color: rgba(253,251,241,255);
    margin: 0;
    padding: 15px;  
}

.titolo b {
    text-transform: uppercase;
}

.autore {
    margin: 0 auto;
    color: rgba(183,183,183,255);
    text-align: center;
      
}

.hr-barra {
    margin: 20;
    border-top-width: 1px;
    color: #30a3a1;
    
}

.link-testo {
   color: rgba(181,70,15,255);
   border-left: 10px;
   border-color: orange;
   margin-bottom: 80px;
   
    
}

.link {
    color: rgba(16,119,119,255); 
}

/* modifiche gen */
img{
    max-width: 100%;
}
figure{
    margin: 0;
}